@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

%exo2-300 {
  font-family: 'exo2-lightItalic';
  font-weight: 300;
}

%exo2-400 {
  font-family: 'exo2-regular';
  font-weight: 400;
}
%exo2-600 {
  font-family: 'exo2-semiBold';
  font-weight: 600;
}
